/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}

/*----------------
    GENERAL SET
------------------*/
body{
    padding: 25px;
    background-color: #0384fc;
    text-align: center;
}

.btn{
    padding: 5px;
    background-color: #e6e3e3;
    border-radius: 10px;
}

/*----------------
    TYPOGRAPHY
------------------*/

h1{
    padding: 25px;
    color: #e6e3e3;
}

#form{
    color: #e6e3e3;
}

/*----------------
    SECTION
------------------*/

#form,
#ticketCard{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
}

#form{
    justify-content: center;
}

#ticketCard{
    margin-top: 50px;
    background-color: #0876dd ;
    color: black;
    justify-content: space-between;
}

#ticketCard span{
    color: #e6e3e3;
    font-family: italic;
}


#nameField{
    background-color: #0a5aa5;
    height: 100%;
    align-content: center;
    padding-right: 5px;
}
#nameField span{
    text-transform: uppercase;
    font-weight: 900;
}

